.Order-action-remove {
  font-weight: 600;
  float: left;
  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
  border-radius: 5px;
  margin: 0;
  position: absolute;
  color: #777;
  bottom: 20px;
  right: 30px;
}

.Order-Item-container {
  width: 100%;
  display: inline-block;
  margin-top: 5px;
}

.Order-Item-title-container {
  float: left;
}

.Order-Item-price-container {
  float: right;
  color: #aaa;
}

.Payment-breakup-container {
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 24px;
  width: 100%;
  padding: 42px 0;
  flex: 1;
  color: #777;
  background: white;

  @media screen (max-width: 768px) {
    padding: 20px 0;
  }
}

.Payment-amount,
.Payment-amount-small {
  font-weight: 400;
  color: cornflowerblue;
  font-size: 40px;
  margin-top: 80px;
  margin-bottom: 20px;
}

.Payment-amount-small {
  font-size: 25px;
  margin-top: 20px;
}

.Order-number {
  font-size: 80px;
  font-weight: 400;
  color: black;
  margin-bottom: 70px;
}
