/*
**********************
Card Swipe Interaction
**********************
*/

.paymentInteraction {
  width: 300px;
  height: 400px;
  padding: 50px;
  transform: scale(0.8);
  margin: -20px auto 0 auto;
  cursor: pointer;
}

.paymentDevice {
  width: 200px;
  height: 140px;
  border: 1px solid #777;
  border-radius: 10px;
  margin: 100px auto 0 auto;
  position: absolute;
  background: #fff;
  z-index: 4;
}

.paymentDevice::after {
  background-color: #eee;
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  height: 90px;
  border-radius: 5px;
}

.paymentDevice::before {
  background-color: #ddd;
  content: "";
  position: absolute;
  top: 110px;
  right: 10px;
  z-index: 5;
  width: 60px;
  height: 20px;
  border-radius: 5px;
}

.paymentCard {
  margin-left: 180px;
  width: 45px;
  height: 70px;
  border: 1px solid #777;
  border-radius: 5px;
  animation: cardSwipe 3s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

.paymentCard::after {
  background-color: #777;
  content: "";
  position: absolute;
  margin-left: -18px;
  width: 10px;
  height: 70px;
  opacity: 1;
}

.cardSwipePrompt {
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #888;
}

@keyframes cardSwipe {
  0% {
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    opacity: 0;
  }
  10% {
    transform: translateY(0px) scaleY(1.1) scaleX(1.1) translateZ(0px);
    opacity: 1;
  }
  20% {
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  100% {
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    opacity: 0;
    margin-top: 260px;
  }
}
