/*
**********************
Touch Here Interaction
**********************
*/

.circleClickerContainer {
  width: 100%;
}

.circleClickerPrompt {
  width: 100%;
  margin: 100px 0;
  font-size: 30px;
  font-weight: 400;
  color: cornflowerblue;
}

.circleClicker {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 auto;
  animation: App-logo-spin infinite 2s linear;
}

.circleClickerPersistent {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #555;
  margin: 25% auto 0 auto;
  animation: App-logo-spin2 infinite 2s linear;
}

.circleClickerPersistent2 {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  border: 1px solid #888;
  margin: 0 auto;
  animation: App-logo-spin3 infinite 2s linear;
}

@keyframes App-logo-spin {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  50% {
    transform: scale(1.3);
    opacity: 0.5;
  }
  100% {
    transform: scale(1.6);
    opacity: 0;
  }
}

@keyframes App-logo-spin2 {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes App-logo-spin3 {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  75% {
    transform: scale(0.3);
    opacity: 1;
  }
  100% {
    transform: scale(0.4);
    opacity: 0;
  }
}

/*
**********************
Card Swipe Interaction
**********************
*/

.paymentInteraction {
  width: 300px;
  height: 400px;
  padding: 50px;
  box-sizing: border-box;
  transform: scale(0.8);
  margin: -20px auto 0 auto;
  cursor: pointer;
}

.paymentDevice {
  width: 200px;
  height: 140px;
  border: 1px solid #777;
  border-radius: 10px;
  margin: 100px auto 0 auto;
  position: absolute;
  background: #fff;
  z-index: 4;
}

.paymentDevice::after {
  background-color: #eee;
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  width: 180px;
  height: 90px;
  border-radius: 5px;
}

.paymentDevice::before {
  background-color: #ddd;
  content: "";
  position: absolute;
  top: 110px;
  right: 10px;
  z-index: 5;
  width: 60px;
  height: 20px;
  border-radius: 5px;
}

.paymentCard {
  margin-left: 180px;
  width: 45px;
  height: 70px;
  border: 1px solid #777;
  border-radius: 5px;
  animation: cardSwipe 3s -1s cubic-bezier(0.68, -0.55, 0.265, 1.55) infinite;
}

.paymentCard::after {
  background-color: #777;
  content: "";
  position: absolute;
  margin-left: -18px;
  width: 10px;
  height: 70px;
  opacity: 1;
}

.cardSwipePrompt {
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #888;
}

@keyframes cardSwipe {
  0% {
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    opacity: 0;
  }
  10% {
    transform: translateY(0px) scaleY(1.1) scaleX(1.1) translateZ(0px);
    opacity: 1;
  }
  20% {
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
  }
  100% {
    transform: translateY(0px) scaleY(1) scaleX(1) translateZ(0px);
    opacity: 0;
    margin-top: 260px;
  }
}
